<!DOCTYPE html>
<html>
<head>
    <title>Personal Web | {{currentPage}}</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    {{> navbar}}

    {{> @partial-block}}

    
</body>
</html>