    
    <nav>
        <ul class="navbar-links">
            <img class="icon" src="/img/icon/DW-oren.png" alt="Logo">
            <li>
                <a 
                {{#if (equal currentPage 'Home')}}
                style="font-weight: bold;"
                {{/if}}
                href="/" >Home</a>
            </li>
            <li>
                <a 
                {{#if (equal currentPage 'Project')}}
                style="font-weight: bold;"
                {{/if}}
                href="/project">My Project</a>
            </li>
        </ul>
        
        <a class="links-contact-button" href="contact">Contact Me</a>
    </nav>