{{#> layout currentPage = 'Home'}}
    <div class="profile-card">
        <section>
            <h1>Hi, Welcome to my hut</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur recusandae, doloribus repellat, commodi laboriosam illo error nisi explicabo iusto animi perspiciatis dolores a, magnam facilis quia totam ab est quae unde aliquam! Necessitatibus ad, maiores laudantium ipsa perspiciatis at amet exercitationem quod vero laborum neque repellat similique doloremque inventore iusto.</p>
            <ul class="contact">
                <li><a class="links-contact-button" href="ContactMe.html" style="border-radius: 35px;">Contact</a></li>
                <li><a class="downloadCV" href="#">Download CV <img src="/img/icon/Download.png" alt="Download"></a></li>
            </ul>
            <ul class="social-media">
                <li><a href="#"><img src="/img/icon/in.png" alt="LinkedIn"></a></li>
                <li><a href="#"><img src="/img/icon/IG.png" alt="Instagram"></a></li>
                <li><a href="#"><img src="/img/icon/FB.png" alt="Facebook"></a></li>
                <li><a href="#"><img src="/img/icon/X.png" alt="Twitter/X"></a></li>
            </ul>
        </section>
        <aside>
            <img class="profile-picture" src="/img/profile-pic2.jpg" alt="Profile Picture">
            <h3>Anya Forger</h3>
            <p>Esper</p>
        </aside>
    </div>
{{/layout}}