{{#> layout currentPage="Not Found"}}

<main>
    <section class="container d-flex justify-content-center align-items-center mt-5">
        <p>Content not found!</p>
    </section>
</main>

{{/layout}}