{{#>layout currentPage = 'Project'}}
    <article class="project-detial">
        <img src="{{project.img}}">
        <h1>{{project.projectName}}</h1>
        <p1>{{project.desc}}<br>
        {{project.createdAt}}</p1>
    </article>

{{/layout}} 