{{#>layout currentPage = 'Project'}}
        
        <div class="my-project">
            <h1>MY PROJECT</h1>
            <div>
                <a href="/project-submit" class="links-contact-button">submit project</a>
            </div>
            <section id="projectsList" class="projects-list">
            </section>
        </div>

        <script src="/js/project-form.js">
        </script>
{{/layout}}